body {
  margin: 0px;
  padding: 0px;
  background-color: #0f0f0f;
  color: white;
}

.container {
  padding: 0px;
  margin-bottom: 15px;
  margin-top: 0px;
  height: 500px;

  border-bottom: 1px solid #bfbfbf;
}
h1 {
  padding: 40px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.about-me {
  position: relative;
  padding-left: 40px;
  margin-top: 230px;
  font-family: "Arial Black", Gadget, sans-serif;
}
.about-me h2 {
  font-size: 40px;
  margin: 0px;
}
#center-line {
  padding-left: 60px;
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
  font-size: 30px;
  margin: 0px;
}

#my-photo {
  float: right;
  height: 400px;
  width: 400px;
  padding-top: 30px;
  padding-right: 20px;
  clear: both;
}
/* nav bar */
.nav {
  float: right;
  margin-right: 5px;
  width: 460px;
}
.nav ul {
  list-style: none;
}
.nav li {
  display: inline;
  padding: 15px;
  margin: 5px;
  border: 2px solid #ada8aa;
  background-color: #c7c7c7;
  font-size: larger;
}
.nav li a {
  color: #d22d3a;
}

/*section*/
section {
  margin: 80px auto 20px auto;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
section h3 {
  padding-left: 40px;
  font-size: 25px;
}
.fa-user-graduate,
.fa-briefcase {
  color: #d22d3a;
  padding: 10px 10px 10px 0px;
  margin-right: 20px;
  font-size: 40px;
}

section ul,
p {
  color: #6e686b;
}
section p {
  padding: 5px;
}
.left-part {
  float: left;
  width: 35%;
}
.right-part {
  float: right;
  width: 65%;
}
.work-image {
  float: left;
  width: 90px;
  height: 60px;
  padding: 10px;
}

/*footer*/
footer {
  clear: both;
  padding-top: 20px;
  padding-left: 40px;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.follow {
  float: right;
  padding: 10px;
  font-size: 40px;
}
.Direct {
  float: left;
}
.fa-envelope-square {
  color: #db4437;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-instagram {
  color: #e4405f;
}
.fa-facebook-square {
  color: #3b5999;
}

.Direct p {
  color: #6e686b;
  font-size: 20px;
}
.the-end {
  text-align: center;
  clear: both;
  font-size: 30px;
  margin-top: 100px;
}
.the-end a:hover {
  color: #e4405f;
}
